body {
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(to bottom, #a81616, #8b1c1c, #7a1717);
}

.HEADER {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Ultra', serif;
  color: white;
  animation: 2s title ease-out 1;
}
 @keyframes title {
            0% {
                opacity: 0;
                transform: translateY(-100%);
            }
            20% {
                opacity: 0;
            }
            50% {
                opacity: 0.75;
            }
            100% {
                opacity: 1;
            }
        }
.card {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 40vh;
  background-color: rgb(255, 0, 0);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: .5%;
  justify-content: space-around;
  border-radius: 20%;
  vertical-align: middle;
  margin: 2.5%;
  margin-bottom: 5%;
  transition: 0.5s all ease-in-out;
  border-style: outset;
  border-color: #f10909;
  border-width: 0.6rem;
  box-shadow: 10px 20px #331c0a;
}
.card-title {
  text-transform: uppercase;
  color: white;
  }
.card-img {
  width: 320x;
  height: 200px;
  transition: 0.7s all ease-in-out;
}
#top {
  margin-top: 12rem;
}
.card:hover {
  background-color: #4b0f0f;
  transform: scale(1);
}

.card-img:hover {
  transform: rotate(360deg);

}

.card-holder {
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
} 
#Mementos:hover {
  transform: scale(1.2);
}
#Bank:hover {
filter: grayscale(1);
}
#Bank:hover {
  filter: grayscale(1);
  }
  #castle:hover{
    color: blue;
  }
  #limtless:hover{
  filter: blur(5px);
  }